<section class="speakers">
    <div class="container">
        <h2>{{ title }}</h2>
        <div class="speakers-wrapper {% if isFourCols %}cols-4{% endif %}">
            {% for speaker in speakers %}
                <div class="speaker">
                    {% if speaker.img == 'placeholder' %}
                        <div class="img-wrapper placeholder">
                            <img src="/admin/data/blocks/public/speakers-cards/user.png" alt="Обсуждается">
                        </div>
                    {% else %}
                        <div class="img-wrapper">
                            <img src="{{ speaker.img }}" alt="{{ speaker.name }}">
                        </div>
                    {% endif %}
                    <div class="text-wrapper">
                        <h5>{{ speaker.name }}</h5>
                        <p>{{ speaker.position }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
